<p id="notice"><%= notice %></p>

<h1>Listing Medical Histories</h1>

<table>
  <thead>
    <tr>
      <th>Patientid</th>
      <th>Medicalid</th>
      <th>Timediagnosed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_histories.each do |medical_history| %>
      <tr>
        <td><%= medical_history.patientID %></td>
        <td><%= medical_history.medicalID %></td>
        <td><%= medical_history.timeDiagnosed %></td>
        <td><%= link_to 'Show', medical_history %></td>
        <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
        <td><%= link_to 'Destroy', medical_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical history', new_medical_history_path %>
