<% provide(:title, @user.name) %>
 <div class="row">
  <aside class="col-md-2">
    <section class="sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Home', user_path %></li>
        <li role="presentation"><%= link_to 'Dashboard', dashboard_path %></li>
        <li role="presentation"><%= link_to 'Reports', report_path %></li>
        <li role="presentation"><%= link_to 'Billing', billing_path %></li>
        <li role="presentation" class="active"><%= link_to 'Vitals', vital_path %></li>
      </ul>
    </section>
  </aside>

<p>
  <strong>Vitalid:</strong>
  <%= @vital.vitalID %>
</p>

<p>
  <strong>Patientid:</strong>
  <%= @vital.patientID %>
</p>

<p>
  <strong>Vital type:</strong>
  <%= @vital.vital_type %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @vital.dateTime %>
</p>

<p>
  <strong>Vitaldetails:</strong>
  <%= @vital.vitalDetails %>
</p>

<p>
  <strong>Units:</strong>
  <%= @vital.Units %>
</p>

<%= link_to 'Edit', edit_vital_path(@vital) %> |
<%= link_to 'Back', vitals_path %>
