<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>Patientid</th>
      <th>Demoid</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Birthdate</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Allergies</th>
      <th>Currentmedication</th>
      <th>Clinicaltrials</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.patientID %></td>
        <td><%= patient.demoID %></td>
        <td><%= patient.fName %></td>
        <td><%= patient.lName %></td>
        <td><%= patient.birthDate %></td>
        <td><%= patient.age %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.email %></td>
        <td><%= patient.allergies %></td>
        <td><%= patient.currentMedication %></td>
        <td><%= patient.clinicalTrials %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
