<% provide(:title, @user.name) %>
 <div class="row">
  <aside class="col-md-2">
    <section class="sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Home', user_path %></li>
        <li role="presentation"><%= link_to 'Dashboard', dashboard_path %></li>
        <li role="presentation"><%= link_to 'Reports', report_path %></li>
        <li role="presentation" class="active"><%= link_to 'Billing', billing_path %></li>
        <li role="presentation"><%= link_to 'Vitals', vital_path %></li>
      </ul>
    </section>
  </aside>
  <div class = "col-md-10">
    <section class="billing">
    <h1>Billing</h1>
    <ul class="no-bullets">
      <li><h4><%= @user.name %></h4></li>
      <li><b>ID:</b><%= @user.id %></li>
      <li><b>Provider:</b> BM Health Insurance</li>
      <li><b>Phone:</b> 775-555-5555</li>
      <li><b>Deductible:</b> $1000.00</li>
      <li><b>Insured Amount:</b> $15000.00</li>
    </ul>
    <%= link_to 'Make a Payment', #, class: 'btn btn-primary btn-lg' %>
    </section>
  </div>
</div>
