<p id="notice"><%= notice %></p>

<p>
  <strong>Medicalid:</strong>
  <%= @medical_condition.medicalID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @medical_condition.name %>
</p>

<p>
  <strong>Symptom:</strong>
  <%= @medical_condition.symptom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medical_condition.description %>
</p>

<%= link_to 'Edit', edit_medical_condition_path(@medical_condition) %> |
<%= link_to 'Back', medical_conditions_path %>
