<% provide(:title, @user.name) %>
 <div class="row">
  <aside class="col-md-2">
    <section class="sidebar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><%= link_to 'Home', user_path %></li>
        <li role="presentation"><%= link_to 'Dashboard', dashboard_path %></li>
        <li role="presentation" class="active"><%= link_to 'Reports', report_path %></li>
        <li role="presentation"><%= link_to 'Billing', billing_path %></li>
        <li role="presentation"><%= link_to 'Vitals', vital_path %></li>
      </ul>
    </section>
  </aside>
  <div class="col-md-10">
    <section class="patient_reports">
      <table>
        <tr>
          <th>Date</th>
          <th>Physician</th>
          <th>Medication</th>
          <th>Specialist Referred</th>
          <th>Specialist Diagnosis</th>
          <th>Specialist Report</th>
        </tr>
        <tr>
          <td>06/12/2016</td>
          <td>Dr. Ericsson</td>
          <td>Influenza</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>06/19/2016</td>
          <td>Dr. Ericsson</td>
          <td>Follow-up from 06/12/2016</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>08/01/2016</td>
          <td>Dr. Ericsson</td>
          <td>Eye irritation</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>10/03/2016</td>
          <td>Dr. Ericsson</td>
          <td>Cough</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
      </table>
    </section>
  </div>
</div>
